<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Error</title>
</head>

<body>
    <header>
        <h1>Error</h1>
    </header>

    <nav>
        {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </nav>

    <section>
        <p>{{ error_message }}</p>
    </section>
</body>

</html>
